.menu {
  height: $menu-height;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  svg {
    height: 100%;
    width: $menu-height;
  }

  &__links {
    &__button {
      &--active {
        text-decoration: underline !important;
      }

      &:hover {
        background-color: lightgray;
        cursor: pointer;

        a {
          color: $black;
        }
      }

      a {
        font-size: 18px;
        font-weight: 600;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;

        @include media-breakpoint-down('md') {
          font-size: 14px;
        }
      }
    }
  }
}
