.movie-poster {
  display: grid;
  grid-template-columns: 0.5fr 1fr;

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
  }

  h1 {
    font-weight: bold;
    font-size: 5.3vw;
    white-space: nowrap;

    @media (max-width: 800px) {
      font-size: 40px;
    }
  }

  img {
    width: 100%;
  }
}
