@import './config/typography.scss';
@import './config/base.scss';
@import './config/utils.scss';

$bg: black;
$color: white;
$menu-height: 110px;

@import './components/page';
@import './components/menu';
@import './components/video';
@import './components/aspect-ratio-box';
@import './components/rich-text';
@import './components/images';
@import './components/footer';
@import './components/banner';
@import './components/movie-poster';
@import './components/movie-synopsis';
@import './components/credits';

body {
  font-family: Sancini;
  font-weight: 300;

  main {
    min-height: 100vh;
    background-color: $bg;
    color: $color;

    * {
      fill: $color;
    }

    .text-label {
      font-weight: 600;
    }
  }
}
